<a href="https://colab.research.google.com/github/patel54/-frankData612/blob/main/Sweta_Patel_Assignment06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 6      
(Chapter 8 & 9)

## Purpose:     
This assignment is intended to help you do the following:     
1.	Advance your knowledge on working with strings
2.	Familiarize with regular expression
3.	Use of functions and .apply()

## Action Items:       
•	Working with strings.
1. Clean a column on your data set using 
regular expression methods.      
2. Store the cleaned column into another column of your data set and call it “your_col_name_cleaned”.     

  *Another data set will be provided if your data set is not appropriate to apply regular expression methods.        

•	Use of .apply() 

1.   Create a function that returns the mean, sum, mode, median, and range (separately)      
2.   Run the function into your chosen data set using the .apply() method.     
3.   Post your work on GitHub

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv')

df.head()

   Unnamed: 0 Utilization Type  ...             Location          NDC
0      128037             MCOU  ...  (31.1801, -91.8749)  37205013705
1      491755             FFSU  ...  (39.3498, -75.5148)  62756076388
2     2568076             FFSU  ...  (44.2853, -99.4632)  46987032311
3      491263             FFSU  ...  (43.3504, -84.5603)    781518501
4      836489             FFSU  ...                  NaN  51552080906

[5 rows x 21 columns]

In [ ]:
import regex

p = regex.compile('\w+\s+\w+')

In [ ]:
def get_name(s):

     return p.match(s).group()


docs['name_func'] = docs[0].apply(get_name)

print(docs)

In [ ]:
import re

NCD_your_col_name_cleaned = '1234567890'

In [ ]:
m = re.match(pattern='\d\d\d\d\d\d\d\d\d\d', string=NCD_your_col_name_cleaned)

print(type(m))

<class 're.Match'>

In [ ]:
print(m)

<re.Match object; span=(0, 10), match='1234567890'>

In [ ]:
def your_col_name_cleaned(data):
  
#  yeilds cleaned date and creates new date column to use for time series plotting
  
    
    dates = []
    times = []
    i = 0
    while i <= len(data)-1:
        time_split = re.split('{ |=|T|-', data['date'][i])
        date_split = re.split('{ |=|T',data['date'][i])
        dates.append(date_split[1])
        times.append(time_split[-2])
        i +=1
    df['time'] = times
    df['date'] = dates

In [ ]:
df.head()

   Unnamed: 0 Utilization Type  ...             Location          NDC
0      128037             MCOU  ...  (31.1801, -91.8749)  37205013705
1      491755             FFSU  ...  (39.3498, -75.5148)  62756076388
2     2568076             FFSU  ...  (44.2853, -99.4632)  46987032311
3      491263             FFSU  ...  (43.3504, -84.5603)    781518501
4      836489             FFSU  ...                  NaN  51552080906

[5 rows x 21 columns]

In [4]:
import statistics

statistics.mean([4.08,103.33,905.24,312.22,52.87])

275.548

In [5]:
import statistics

statistics.median([4.08,103.33,905.24,312.22,52.87])

103.33

In [7]:
import statistics

statistics.mode([4.08,103.33,905.24,312.22,52.87])

StatisticsError: ignored